# pandas实战教程-Options and settings

## 背景介绍
* 作为数据处理和分析的利器,pandas库提供需要函数可用于处理各式各样的数据。

## pandas库安装

In [1]:
!pip install pandas==1.3.3 -i  https://pypi.tuna.tsinghua.edu.cn/simple # 使用清华源安装指定的版本
!pip install numpy==1.18.1 -i  https://pypi.tuna.tsinghua.edu.cn/simple # 使用清华源安装指定的版本

Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Requirement already satisfied: pandas==1.3.3 in /home/xty/anaconda3/lib/python3.7/site-packages (1.3.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/xty/anaconda3/lib/python3.7/site-packages (from pandas==1.3.3) (2.8.1)
Requirement already satisfied: numpy>=1.17.3 in /home/xty/anaconda3/lib/python3.7/site-packages (from pandas==1.3.3) (1.18.1)
Requirement already satisfied: pytz>=2017.3 in /home/xty/anaconda3/lib/python3.7/site-packages (from pandas==1.3.3) (2019.3)
Requirement already satisfied: six>=1.5 in /home/xty/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas==1.3.3) (1.14.0)
Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Requirement already satisfied: numpy==1.18.1 in /home/xty/anaconda3/lib/python3.7/site-packages (1.18.1)

In [2]:
!python -V

Python 3.7.6

In [3]:
import pandas as pd
print("pandas版本:",pd.__version__)
import numpy as np
print("numpy版本:",np.__version__)
from IPython.core.interactiveshell import InteractiveShell 
InteractiveShell.ast_node_interactivity = 'all'

pandas版本: 1.3.3
numpy版本: 1.18.1

## 常用的options选项

In [4]:
print("max_rows:", pd.options.display.max_rows)
pd.options.display.max_rows = 999
print("max_rows:", pd.options.display.max_rows)
# 等价于

# 设置显示最大行数
pd.set_option("display.max_rows", 101)
print("max_rows:", pd.get_option("display.max_rows"))
# 设置显示最大列
print("max_columns:",pd.get_option("display.max_columns"))

max_rows: 60
max_rows: 999
max_rows: 101
max_columns: 20

### 设置显示精度

In [5]:
df = pd.DataFrame(np.random.randn(7, 2))
df

          0         1
0 -0.863370 -0.574411
1 -0.165181 -1.869697
2  0.142874  0.150464
3  1.206065  0.056720
4 -0.541643 -0.623855
5 -0.262090  0.092840
6  0.679947 -0.430615

In [6]:
pd.set_option("precision", 4)
df

        0       1
0 -0.8634 -0.5744
1 -0.1652 -1.8697
2  0.1429  0.1505
3  1.2061  0.0567
4 -0.5416 -0.6239
5 -0.2621  0.0928
6  0.6799 -0.4306

### 设置最大行宽

In [7]:
df = pd.DataFrame(
    np.array(
        [
            ["foo", "bar", "bim", "uncomfortably long string"],
            ["horse", "cow", "banana", "apple"],
        ]
    )
)
df

       0    1       2                          3
0    foo  bar     bim  uncomfortably long string
1  horse  cow  banana                      apple

In [8]:
pd.set_option("max_colwidth", 8)
df

       0    1       2        3
0    foo  bar     bim  unco...
1  horse  cow  banana    apple

In [9]:
pd.reset_option("max_colwidth")

### 对表头格式进行设置

In [10]:
df = pd.DataFrame(
    np.array([np.random.randn(6), np.random.randint(1, 9, 6) * 0.1, np.zeros(6)]).T,
    columns=["A", "S", "C"],
    dtype="float",
)

pd.set_option("colheader_justify", "right")
df

        A    S    C
0  0.1658  0.7  0.0
1 -0.3090  0.1  0.0
2  0.9499  0.2  0.0
3 -2.3456  0.6  0.0
4 -0.9805  0.6  0.0
5 -0.4569  0.8  0.0

In [11]:
pd.set_option("colheader_justify", "left")
df

   A       S    C
0  0.1658  0.7  0.0
1 -0.3090  0.1  0.0
2  0.9499  0.2  0.0
3 -2.3456  0.6  0.0
4 -0.9805  0.6  0.0
5 -0.4569  0.8  0.0

## 其他格式[<sup>1</sup>](#refer-anchor)

In [12]:
pd.options.display.latex.repr = True # 完整显示pandas的表格数据

## 参考文献
- [1] [pandas官方教程](https://pandas.pydata.org/pandas-docs/version/1.3.3/user_guide/options.html)